<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Class List</title>
</head>

<body>
  <h1>Class List</h1>
  <a href="/math"><h2>{{mathClass}}</h2></a>
  <a href="#"><h2>{{scienceCLass}}</h2></a>
  <a href="#"><h2>{{musicClass}}</h2></a>
  <a href="#"><h2>{{litClass}}</h2></a>


</body>

</html>
