<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Class List</title>
</head>

<body>
  <h1>ACME Math</h1>
  {{#each classroom}}
  <p>{{this.name}}</p>
  {{/each}}
  <!-- <a href="#"><h2>{{scienceCLass}}</h2></a>
  <a href="#"><h2>{{musicClass}}</h2></a>
  <a href="#"><h2>{{litClass}}</h2></a> -->


</body>

</html>
